<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- File target - Creates a new log file with a timestamp each time the server starts -->
    <target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}_${processid}.log"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />
  </targets>

  <rules>
    <!-- Log all events to the file -->
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>
